{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog en Django</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
</head>
<body>
    <header>
        <div class="nav-izq">
            <h1><a href="{% url 'inicio' %}">Blog en Django</a></h1>
        </div>
        <div class="nav-der">
            <a href="{% url 'nueva_pub' %}">+ Nueva publicación</a>
        </div>
    </header>
    {% if user.is_authenticated %}
        <p>Hola {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Salir</a></p>
    {% else %}
        <p>No ha iniciado sesión</p>
        <a href="{% url 'login' %}">Acceso</a>
        <a href="{% url 'signup' %}">| Registro</a>
    {% endif %}
    <div>
        {% block contenido %}
        
        {% endblock contenido %}
    </div>
</body>
</html>